body {
  background: #ACBAC4;
}

a {
  color: #F3752B;
}

.hr-header {
  /* TODO: use materialize color code */
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(111, 100, 50, 0), rgba(111, 100, 50, 0.75), rgba(111, 100, 50, 0));
}

.links-text, .card-action a {
  color: #F3752B;
}

/* link hover, etc*/
/* background headers icons*/
.bg-h-ico {
  color: #ACBAC4;
}

/* color for icons */

.material-icons.orange600 {
  color: #F3752B;
}

h1, h2, h3, h4, h5, h6 {
  color: #ACBAC4 ;
}