#contacts-top li,
#contacts-footer li {
  @extend %inline-list;
}

.contact-icons {
  color: $color-contact-icons;
}

.contact-links-text {
  & {
    color: $color-contact-text;
  }

  &:hover {
    color: $color-contact-text-hover;
  }
}
