// Descriptive color variables

$orange         : #F3752B;
$orangelight    : #F09762;
$orangewashed   : #D19877;
$grayblue       : #ACBAC4;

// Functional variables

$color-background           : $grayblue;
$color-headings             : $grayblue;
$color-section-icons        : $orange;

$color-contact-icons        : $grayblue;
$color-contact-text         : $orange;
$color-contact-text-hover   : $orangelight;
$color-contact-ruler        : $grayblue;

$color-link                 : $orange;
$color-link-visited         : $orangewashed;
$color-link-hover           : $orangelight;
